* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.produtos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #22222240;
    border-radius: 16px;
    box-shadow: 4px 4px 10px #00000029;

    & img {
        width: 150px;
        margin: auto;
    }

    & .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;

        & .title {
            
            & h2 {
                margin-bottom: 26px;
            }
        }

        & .btns {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & p {
                color: #21A9FB;
                font-weight: bold;
                font-size: 18px;
            }

            & button {
                padding: 14px;
                border-radius: 100px;
                border: none;
                background: linear-gradient(to right, #138CFF, #16137468);
                color: #fff;
                font-weight: 700;
            }
        }

        & .freight {
            display: flex;
            gap: 15px;
            align-items: center;

            & p {
                font-size: 12px;
                color: #9A9A9A;
            }

            & i {
                color: #9A9A9A;
            }
        }
    }
}